.navbar {
  position: fixed;
  min-width: 1500px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  backdrop-filter: blur(10px);
  align-items: center;
  padding: 1rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  margin-top: 10px;
}

.navBrand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks button {
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.navLinks button:hover {
  color: #007bff;
}

.navLinks button.active {
  color: #007bff;
  font-weight: bold;
  text-decoration: underline;
}

.navLinks {
  display: flex;
  gap: 2rem;
  transition: all 0.3s ease;
}

@media (max-width: 480px) {
  .navBrand {
    font-size: 1.2rem;
  }

  .navLinks button {
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
  }
}

@media (max-width: 768px) {
  .navLinks {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .navLinks button {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}
